# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ToDoListWebApp.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Eugene\RiderProjects\ToDoListWebApp\.idea\.idea.ToDoListWebApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
